body {
    background-color: #F1F1F1;
}

/* end skeleton overrides */
table {
    background-color: white;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    /* margin: 0px 10px, 0px, 20px; */
}
th, td {
    padding: 10px 10px 10px 10px;
    /* padding: 10px 20px; */
    text-align: center;
    font-size: 85%;
}

table#js-table th:first-child,
table#js-table td:first-child {
    padding-left: 10px;
}


table#js-table th:last-child,
table#js-table td:last-child {
    padding-right: 10px;
}
/* end skeleton overrides */

.container {
    max-width: 100%;
}

.navbar-list {
    list-style: none;
}

.navbar-item {
    float: left;
    margin-bottom: 0;
}


.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}
.floating-menu {
    background: #F1F1F1;
    border-bottom: 1px dotted #BBB;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 3.5rem;
}
.floating-menu a {
    display: block;
    color: black;
}

.CodeMirror pre,
.CodeMirror-linenumber {
    font-size: 7.5pt;
    font-family: Menlo, Courier New, Courier, monospace;
}
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}