body {
    background-color: #F1F1F1;
}

h3 {
    font-family: Menlo, Courier New, Courier, monospace;
    color: grey;
}

li, textarea {
    font-size: 7pt;
    font-family: Menlo, Courier New, Courier, monospace;
}

textarea {
    color: lawngreen;
    background-color: black;
}